.wrapper{
    margin: 0px;
    padding: 0px;
}
.error_font{
    font-size: 18px;
    color:red;
    font-weight: 600;
}
.energy_demand_text{
    width: 100%;
}
.logo p{
    color:red;
    font-size: 50px;
}
.logo{
    position: absolute;
    
}
.home_box{
    border: 2px solid #fff;
    margin-top: -150px;
    position: relative;    
}
.home_desc{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.logo_section{
    height:70px;
}
.heading_border{
    border-bottom: 3px solid #b1afaf36;
}

.home_text{
    font-weight: 700;
    color: #fff;
    margin-top:10px;
}
.form_heading{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#2171b9;
}

.small_heading{
    font-size: 18px;
    color:#000;
}
.img_compass{
    margin-left: 90px;
}
.direction_drop_box{
    background-color: #2171b9;
    color:#fff;
    padding: 5px;
    width: 100%;
    border-radius:5px;
}
.year_label{
    color:#000;
    font-size: 14px; 
    margin-left: 25px;
   margin-right: 25px;  
}
.year_box{
    margin-top: 50px;
}
.house_year_drop_box{
   color:#000;
   font-size: 14px; 
   margin-left: 25px;  
   margin-right: 20px;  
}

.radio_box{
    border: 2px solid grey;   
    border-radius: 10px;
}
.radio_image{
    margin-top: 5px;
    text-align: center;
}

/* Radio Button */
input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
    margin-top: 5px;
    margin-left: 20px;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:blue;
    
}



/* input[type="radio"]:checked+label{ background-color: red; }  */

.radio-toolbar input[type="radio"]:checked + .radio_box{ 
    background-color:#bbb;
}


.radio_label{
    position: absolute;
    top: 5px;
    margin-left: 5px;
}

/* Radio button */


.postbox_img{
    text-align: center;
}
.postbox_text{
    background-color: #fbc417;
}
.post_text_box{
    padding:10px;
    background-color: #fbc417;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.post_textbox{
    width:100%;
}

.post_code_text{
    color: #000;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.living_box{
    float: right;
    margin-right: 145px;
    margin-top: 260px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}
.living_label{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.living_textbox{
    margin-left: 10px;
    background-color: transparent;
    color: #000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    width: 100px;
    

}

.progress_bar_line{
    border: 1px solid #000;
    border-radius: 10px;
}

.progress_section{
    margin-top:10px;
}
.character_img{
    margin-top: 112px;
    margin-left: -60px;
}


.next_section{
    margin: auto;
    width: 50%;
    float: left;
}

.rating_div{
   padding: 10px 10px 0px 0px;
   background-color: #fff;

}
.person_form{
    display: inline-flex;
    margin-top: 340px;
    border: 1px solid grey;
}
.person_box{
    margin: auto;
    width: 50%;
   
}
.person_ic{
    font-size: 20px;
   
}
.dv-star-rating-full-star{
    color:  blue !important;
}
.dv-star-rating-star{
    color:red ;
}

.label_box_person{
    background-color: #2171b9;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}
.person_icon{
    margin-left: 18px;
    margin-top: 5px;
}

.p_box{
    margin: auto;
    width: 50%;
    border: 1px solid;
    display: inline-flex;
    height: 35px;
    margin-top: 350px;
}
.p_form_label{
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-weight: 500;
    background-color: #2171b9;
}
.person_count{   
    background-color: #2171b9;
}

.p_icon{
       margin-top: 10px;
}

.form_char_img{
    margin-left: -50px;
    position: relative;
    top: 75px;
}
.back_btn_form_2{
    margin-top: 0px;
    position: relative;
    z-index: 99999;
}
.power_consumption{
    width: 100%;
    font-size: 14px;
    letter-spacing: 11px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #000;
    color: #fff;
}
.power_meter_box{
    padding: 5px;
    margin-left: 12px;
    width: 110px;
    position: relative;
    top: 50px;
}
.electric_symbol_class{
    text-align: center;
   
}
.red_number{
    float: right;
    margin-right: 16px;
    background-color: red;
    padding: 7px;
    margin-top: -11px;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}
.blink-image{   
    margin-top: 120px;
}
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.energy_form{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    border: 1px solid #000;
    box-shadow: 0px 1px 3px 3px #888888;

}
.enery_heading{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.radio_value{
    text-align: left;
}
.label_demand{
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.label_demand_value_label{
    font-size: 12px;
    color: #000;
    
}
.character_3{
    margin-top: 120px;
    margin-left: 80px;
}
.character_4{
    margin-top: 100px;
    margin-left: 80px;
}
.budget_font{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.budget_icon{
    width:100%;
}

.coin_img{
    -webkit-animation: coin 5s infinite linear;
    animation: coin 5s infinite linear;
}

@-webkit-keyframes coin {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes coin {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.budget_price{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center
}


.budget_box{
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form_btn{
    width:100%;
    margin-top: 20px;
    margin-bottom: 40px;

}
.btn_submit{
    background-color: #2171b9;
    color:#fff;
}

.footer_section{
    background-color: #2171b9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn_next{
    background-color: #fff;
    border: 1px solid #000;
}
.pull_right{
    float: right;
    border-radius: 5px;
}
.pull_left{
    float: left;
    border-radius: 5px;
}
.footer_links a{
    color:#fff;
    margin-left: 20px;
    text-decoration: none;
}
.copyrights a{
    float: right;
}